.space-view-header {
	md-toolbar.md-hue-2._md._md-toolbar-transitions {
		background-color: #3F51B5;
		height: 54px;
	}

	.title {
		font-size: 16px;
	    padding: 16px;
	    position: absolute;
	}

	.left {
		border-bottom: solid 16px #43A047;
	}
	
	.middle {
		border-bottom: solid 16px #FFA726;
	}
	
	.right {
		border-bottom: solid 16px #F44336;
	}
}