<div class="left-panel">
    <md-button class="left-toggle-button" ng-click="$ctrl.toggleLeftPanel()">
        <md-icon class="material-icons" md-svg-src="../../resources/img/right-24px.svg">Open Panel</md-icon>
        <md-tooltip md-direction="bottom">Open Panel</md-tooltip>
    </md-button>
    <md-sidenav class="md-sidenav-left" md-whiteframe="8" md-component-id="left_panel" md-disable-backdrop="" md-is-open="$ctrl.openLeftMenu">
        <div ng-cloak>
            <md-content>
            	<!-- <space-view-header title="Aspects"></space-view-header> -->
                <md-button ng-click="$ctrl.toggleLeftPanel()" aria-label="close" class="md-icon-button left-panel-close-btn">
                    <md-icon class="material-icons" md-svg-src="../../resources/img/close-24px.svg">close</md-icon>
                    <md-tooltip md-direction="bottom">close</md-tooltip>
                </md-button>

                <v-accordion class="vAccordion--default" multiple>
                    <v-pane expanded>
                        <v-pane-header>
                            Perspectives
                        </v-pane-header>
                        <v-pane-content>
                            <md-list no-close-quote>
                                <md-list-item>
                                    <div layout-fill id="capacity">
                                        <md-button layout-fill layout="row" class="md-primary" ng-click="$ctrl.onPerspectiveChange('performance', $event)">
                                            <div flex="80" class="layout-align-start-center layout-row">Performance</div>
                                        </md-button>
                                    </div>
                                </md-list-item>
                                <md-list-item>
                                    <div layout-fill id="cpu_usage">
                                        <md-button layout-fill layout="row" class="md-primary" ng-click="$ctrl.onPerspectiveChange('capacity', $event)">
                                            <div flex="80" class="layout-align-start-center layout-row">Capacity</div>
                                        </md-button>
                                    </div>
                                </md-list-item>
                                <md-list-item>
                                    <div layout-fill id="memory_usage">
                                        <md-button layout-fill layout="row" class="md-primary" ng-click="$ctrl.onPerspectiveChange('availability', $event)">
                                            <div flex="80" class="layout-align-start-center layout-row">Availability</div>
                                        </md-button>
                                    </div>
                                </md-list-item>
                                <md-list-item>
                                    <div layout-fill id="memory_usage">
                                        <md-button layout-fill layout="row" class="md-primary" ng-click="$ctrl.onPerspectiveChange('cost', $event)">
                                            <div flex="80" class="layout-align-start-center layout-row">Cost</div>
                                        </md-button>
                                    </div>
                                </md-list-item>
                                <md-list-item>
                                    <div layout-fill id="memory_usage">
                                        <md-button layout-fill layout="row" class="md-primary" ng-click="$ctrl.onPerspectiveChange('com', $event)">
                                            <div flex="80" class="layout-align-start-center layout-row">Compliance</div>
                                        </md-button>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </v-pane-content>
                    </v-pane>
                </v-accordion>

                <md-button id="add_perspectives" class="md-fab md-primary" aria-label="Add Perspectives">
                    <md-icon  md-svg-src="../../resources/img/right-24px.svg""></md-icon>
                </md-button>
            </md-content>
        </div>
    </md-sidenav>
</div>