.left-panel {
    button:not([disabled]):hover {
        background-color: #dedede!important;
    }

    .left-toggle-button {
        z-index: 70;
        left: -1px;
        width: 37px;
        margin: 0px;
        padding: 0px;
        height: 36px;
        min-width: 0px;
        background-color: #dd4844;

        md-icon {
            padding-right: 1px;
        }
    }

    .left-toggle-button.md-button:not([disabled]).md-focused,
    .left-toggle-button.md-button:not([disabled]):hover {
        background-color: #dd4844!important;
    }

    .md-button:not([disabled]):hover {
        background-color: transparent;
    }

    #add_perspectives:hover {
        background-color: #3949ab!important;
    }

    #add_perspectives {
        width: 40px;
        height: 40px;
        margin-right: 24px;
        float: right;
        margin-top: -3px;
    }

    space-view-header md-toolbar {
        min-height: 0px;
        height: 48px!important;

        .md-toolbar-tools {
            padding-right: 48px;
        }

        .title {
            font-size: 16px!important;
            padding: 16px!important;
            align-self: flex-start!important;
        }
    }

    .left-panel-close-btn {
        float: right;
        min-width: 0px;
        width: 36px;
        min-height: 0px;
        height: 36px;
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 70;

        md-icon {
            min-width: 0px;
            min-height: 0px;
            width: auto;
            height: auto;
            fill: #606060;
        }
    }

    md-sidenav {
        z-index: 75;
        width: 185px;
    }

    .vAccordion--default v-pane-header {
        padding: 9px 16px;
        margin-bottom: 0px;
    }

    .vAccordion--default v-pane-header::after,
    .vAccordion--default v-pane-header::before {
        right: 16px;
    }

    .vAccordion--default v-pane.is-expanded > v-pane-header::before {
    	display: none;
    }

    .vAccordion--default v-pane.is-expanded > v-pane-header::after {
    	display: none;
    }

    .vAccordion--default v-pane-header::after, .left-panel .vAccordion--default v-pane-header::before {
    	display: none;
    }

    md-list-item {
        padding: 0px;
        button {
            padding: 0px 16px;

            div {
                font-size: 14px;
                text-transform: none;
            }
        }

        button:not([disabled]) {
            color: initial;
        }
    }

    .selected-aspect {
        background-color: #f0f0f0;
    }

    button.left-panel-close-btn:hover {
        background-color: transparent!important;
    }

    .vAccordion--default v-pane-content>div {
        padding-bottom: 0px;
    }

    .vAccordion--default v-pane.is-expanded>v-pane-header {
        border-bottom-color: #bccbd6;
        border-bottom-width: 1px;
    }
}